body {
    background: lightgray;
}

.card {
    position: relative;
    top: 1cm;
    left: 1cm;
    height: 100cm;
    border: 4px solid black;
    border-radius: 5px;
}

.card-header {
    position: absolute;
    top: 1mm;
    border-bottom: 1px solid black;
    width: 10cm;
    height: max-content;
    margin: 0mm 4mm;
}

.title {
    position: absolute;
    top: 1mm;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    font-weight: 500;
}

.subtitle {
    position: absolute;
    top: 1cm;
}

.card .card-content {
    position: absolute;
    top: 5cm;
    right: 0cm;
}