<div class="appbar">
    <div class="deps">
        <img src="templates/img/logo.png" class="app-icon">
        <div class="title">Coopel</div>
        
        <select>
            <option><a href="#">Hogar</a></option>
            <option><a href="#">Electronicos</a></option>
            <option><a href="#">Computacion</a></option>
            <option><a href="#">Videojuegos</a></option>
        </select>
    </div>

    <div class="search-bar">
        <button>Buscar</button>
        <input type="text">
    </div>
</div>